.mediaViewInfo {
    --web-view-name: Create Your Listing;
    --web-view-id: Create_Your_Listing;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Create_Your_Listing;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Create_Your_Listing {
    position: absolute;
    width: 1920px;
    height: 1904px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Create Your Listing;
    --web-view-id: Create_Your_Listing;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#aac {
    position: absolute;
    width: 1703px;
    height: 85px;
    left: 109px;
    top: 52px;
    overflow: visible;
}
#aad {
    border: 0;
    left: 1186px;
    top: 42px;
    position: absolute;
    overflow: hidden;
    width: 119px;
    height: 22px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#aae {
    border: 0;
    left: 1351px;
    top: 42px;
    position: absolute;
    overflow: hidden;
    width: 119px;
    height: 22px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#aaf {
    border: 0;
    left: 1516px;
    top: 42px;
    position: absolute;
    overflow: hidden;
    width: 119px;
    height: 22px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#aag {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1681px;
    top: 42px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: List_of_Offers.html;
    cursor: pointer;
}
#aah {
    fill: rgba(0,0,0,1);
}
.aah {
    overflow: visible;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#aai {
    position: absolute;
    width: 82px;
    height: 85px;
    left: 0px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Home.html;
    cursor: pointer;
}
#aaj {
    position: absolute;
    width: 82px;
    height: 85px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#aak {
    border: 0;
    left: 628.25px;
    top: 237px;
    position: absolute;
    overflow: visible;
    width: 344px;
    height: 66px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(0,0,0,1);
}
#aal {
    border: 0;
    left: 1091.25px;
    top: 259.5px;
    position: absolute;
    overflow: visible;
    width: 206px;
    height: 21px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
    text-decoration: underline;
}
#aam {
    border: 0;
    left: 628.25px;
    top: 324px;
    position: absolute;
    overflow: visible;
    width: 234px;
    height: 43px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#aan {
    border: 0;
    left: 628.25px;
    top: 444px;
    position: absolute;
    overflow: visible;
    width: 234px;
    height: 43px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#aao {
    border: 0;
    left: 624.25px;
    top: 632px;
    position: absolute;
    overflow: visible;
    width: 234px;
    height: 43px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#aap {
    border: 0;
    left: 624.25px;
    top: 744px;
    position: absolute;
    overflow: visible;
    width: 442px;
    height: 43px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#aaq {
    border: 0;
    left: 624.25px;
    top: 855px;
    position: absolute;
    overflow: visible;
    width: 442px;
    height: 43px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#aar {
    border: 0;
    left: 624.25px;
    top: 965px;
    position: absolute;
    overflow: visible;
    width: 442px;
    height: 43px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#aas {
    border: 0;
    left: 628.25px;
    top: 1334.5px;
    position: absolute;
    overflow: visible;
    width: 442px;
    height: 43px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#aat {
    border: 0;
    left: 628.25px;
    top: 1487.5px;
    position: absolute;
    overflow: visible;
    width: 442px;
    height: 43px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#aau {
    border: 0;
    left: 626.5px;
    top: 1075px;
    position: absolute;
    overflow: visible;
    width: 442px;
    height: 43px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,1);
}
#aav {
    position: absolute;
    width: 667px;
    height: 47px;
    left: 624.25px;
    top: 367px;
    overflow: visible;
}
#aaw {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.aaw {
    position: absolute;
    overflow: visible;
    width: 667px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#aax {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 181px;
    height: 20px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#aay {
    position: absolute;
    width: 667px;
    height: 47px;
    left: 624.25px;
    top: 667px;
    overflow: visible;
}
#aaz {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.aaz {
    position: absolute;
    overflow: visible;
    width: 667px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#aba {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 181px;
    height: 20px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#abb {
    position: absolute;
    width: 667px;
    height: 47px;
    left: 624.25px;
    top: 778px;
    overflow: visible;
}
#abc {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.abc {
    position: absolute;
    overflow: visible;
    width: 667px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#abd {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 181px;
    height: 20px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#abe {
    position: absolute;
    width: 667px;
    height: 47px;
    left: 624.25px;
    top: 888px;
    overflow: visible;
}
#abf {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.abf {
    position: absolute;
    overflow: visible;
    width: 667px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#abg {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 181px;
    height: 20px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#abh {
    position: absolute;
    width: 667px;
    height: 47px;
    left: 624.25px;
    top: 998px;
    overflow: visible;
}
#abi {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.abi {
    position: absolute;
    overflow: visible;
    width: 667px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#abj {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 181px;
    height: 20px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#abk {
    position: absolute;
    width: 667px;
    height: 89px;
    left: 626.5px;
    top: 1368.5px;
    overflow: visible;
}
#abl {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.abl {
    position: absolute;
    overflow: visible;
    width: 667px;
    height: 89px;
    left: 0px;
    top: 0px;
}
#abm {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 408px;
    height: 57px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#abn {
    position: absolute;
    width: 418px;
    height: 47px;
    left: 624.25px;
    top: 487px;
    overflow: visible;
}
#abo {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.abo {
    position: absolute;
    overflow: visible;
    width: 418px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#abp {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 181px;
    height: 20px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#abq {
    position: absolute;
    width: 253px;
    height: 47px;
    left: 1043.25px;
    top: 555px;
    overflow: visible;
}
#abr {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.abr {
    position: absolute;
    overflow: visible;
    width: 253px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#abs {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 181px;
    height: 20px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#abt {
    position: absolute;
    width: 203px;
    height: 47px;
    left: 624.25px;
    top: 555px;
    overflow: visible;
}
#abu {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.abu {
    position: absolute;
    overflow: visible;
    width: 203px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#abv {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 181px;
    height: 20px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#abw {
    position: absolute;
    width: 181px;
    height: 47px;
    left: 844.25px;
    top: 555px;
    overflow: visible;
}
#abx {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.abx {
    position: absolute;
    overflow: visible;
    width: 181px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#aby {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 139px;
    height: 17px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#abz {
    fill: rgba(53,78,87,1);
}
.abz {
    overflow: visible;
    position: absolute;
    width: 11.808px;
    height: 6.751px;
    left: 155.27px;
    top: 20.5px;
    transform: matrix(1,0,0,1,0,0);
}
#aca {
    position: absolute;
    width: 240px;
    height: 47px;
    left: 1055.25px;
    top: 487px;
    overflow: visible;
}
#acb {
    fill: rgba(255,255,255,1);
    stroke: rgba(186,202,209,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.acb {
    position: absolute;
    overflow: visible;
    width: 240px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#acc {
    border: 0;
    left: 23px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 181px;
    height: 20px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(53,78,87,1);
}
#acd {
    opacity: 1;
    fill: rgba(235,235,235,1);
}
.acd {
    position: absolute;
    overflow: visible;
    width: 663px;
    height: 209px;
    left: 628px;
    top: 1107px;
}
#ace {
    position: absolute;
    width: 223px;
    height: 48px;
    left: 628px;
    top: 1531px;
    overflow: visible;
}
#acf {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.acf {
    position: absolute;
    overflow: visible;
    width: 223px;
    height: 48px;
    left: 0px;
    top: 0px;
}
#acg {
    border: 0;
    left: 50px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 125px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -7px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,0,1);
}
#ach {
    position: absolute;
    width: 223px;
    height: 48px;
    left: 1072px;
    top: 1531px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: List_of_Offers.html;
    cursor: pointer;
}
#aci {
    fill: rgba(0,0,0,1);
}
.aci {
    position: absolute;
    overflow: visible;
    width: 223px;
    height: 48px;
    left: 0px;
    top: 0px;
}
#acj {
    border: 0;
    left: 69px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -7px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#ack {
    position: absolute;
    width: 1921px;
    height: 201px;
    left: 0px;
    top: 1703px;
    overflow: visible;
}
#acl {
    fill: rgba(0,0,0,1);
}
.acl {
    position: absolute;
    overflow: visible;
    width: 1921px;
    height: 201px;
    left: 0px;
    top: 0px;
}
#acm {
    border: 0;
    left: 664px;
    top: 1818px;
    position: absolute;
    overflow: visible;
    width: 596px;
    height: 42px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#acn {
    position: absolute;
    width: 75px;
    height: 78px;
    left: 924px;
    top: 1717px;
    overflow: visible;
}
#aco {
    position: absolute;
    width: 75px;
    height: 78px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#acp {
    opacity: 0.213;
    position: absolute;
    width: 188px;
    height: 196px;
    left: 866px;
    top: 1109px;
    overflow: visible;
}