{% extends "watermain/layout.html" %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}
<body>
	<div id="aaf">
		<span>Simplify Your Water Lease: easier than a handshake</span>
	</div>
	<div id="aag">
		<span>List</span><span style="font-style:normal;font-weight:normal;">, </span><span>Find</span><span style="font-style:normal;font-weight:normal;"> and </span><span>Contract</span><span style="font-style:normal;font-weight:normal;">—</span><span style="font-style:normal;font-weight:normal;">All in One Place!</span>
	</div>
	<div id="aah">
		<span>WaterLease makes it easy to lease your water rights and create secure, transparent contracts with just a few clicks. Designed for water right holders and lessees alike, our platform provides a seamless experience, connecting lessors with qualified lessees while handling all the legal paperwork effortlessly</span>
	</div>
	<div id="aai">
		<span>Create a listing in minutes. Set your suggested lease time, amount of water available, and suggested price, and we take care of the rest. This process is even easier if you are a member of the water bank. </span><br/><span style="color:rgba(112,112,112,1);"></span><br/>
	</div>
	<div id="aaj">
		<span>Potential lessees will come in with their offers, and you can choose to accept, counter, or reject based on their terms. If you accept,  we can generate a contract immediately. </span><br/>
	</div>
	<div id="aak">
		<span>Our contract builder ensures compliance and clarity for both parties. WaterLease generates a legally sound contract ready for signatures and available for download for your safekeeping.</span>
	</div>
	<div id="aal" class="Normal_Button">
		<svg class="aam">
			<rect id="aam" rx="4" ry="4" x="0" y="0" width="223" height="48">
			</rect>
		</svg>
		<div id="aan">
			<span>
                <a href="{% url 'collect_info' %}">Create Your Listing</a>
            </span>
		</div>
	</div>
	<div class="aao" viewBox="0 0 1042 586">
		<video controls muted autoplay = "autoplay">
            <source src="{% static 'watermain/sprinkler.mp4' %}" type="video/mp4"/>
        </video>
	</div>
    
	<div id="aap">
		<span>How It Works: </span>
	</div>
	<svg class="aaq" viewBox="0 0 1920 3">
		<path id="aaq" d="M 0 0 L 1920 0">
		</path>
	</svg>

	<!-- black boxes around the description -->
	<svg class="aac">
		<rect id="aac" rx="0" ry="0" x="0" y="0" width="527" height="298">
		</rect>
	</svg>
	<svg class="aad">
		<rect id="aad" rx="0" ry="0" x="0" y="0" width="474" height="298">
		</rect>
	</svg>
	<svg class="aae">
		<rect id="aae" rx="0" ry="0" x="0" y="0" width="651" height="298">
		</rect>
	</svg>

	<div id="aai">
		<span>Create a listing in minutes. Set your suggested lease time, amount of water available, and suggested price, and we take care of the rest. This process is even easier if you are a member of the water bank. </span><br/><span style="color:rgba(112,112,112,1);"></span><br/>
	</div>
	<div id="aaj">
		<span>Potential lessees will come in with their offers, and you can choose to accept, counter, or reject based on their terms. If you accept,  we can generate a contract immediately. </span><br/>
	</div>
	<div id="aak">
		<span>Our contract builder ensures compliance and clarity for both parties. WaterLease generates a legally sound contract ready for signatures and available for download for your safekeeping.</span>
	</div>
	
	<div id="aar">
		<span>1. List Your Water Rights</span><br/>
	</div>
	<div id="aas">
		<span>2. Pick an Offer</span><br/>
	</div>
	<div id="aat">
		<span>3. Generate a Custom Contract</span><br/>
	</div>
	<div id="aau">
		<svg class="aav">
			<rect id="aav" rx="4" ry="4" x="0" y="0" width="354" height="79">
			</rect>
		</svg>
		<div id="aaw">
			<span>GET STARTED TODAY</span>
		</div>
	</div>
	
	<div id="aaz">
		<span>Simplify Your Water Lease: Easier Than a Handshake</span>
	</div>
	
	<div id="abi" class="whiteeee_logo_1_02">
		<img id="abj" src="{% static 'watermain/white_icon.png' %}">
	</div>
</div>
</body>
{% endblock %}