{% extends "watermain/layout.html" %}
{% load static %}
{% block title %}
Contract Signing
{% endblock %}
{% block content %}
    <p>This is where the lessor would accept the offer from the lessee and digitally sign the contract.</p>
    <!-- <embed src="https://drive.google.com/viewerng/
    viewer?embedded=true&url='watermain/example.pdf" width="500" height="375"> -->
    <iframe src="{% static 'watermain/example.pdf' %}" width="600" height="400"></iframe>
    <a href="{% url 'offers' %}" class="button">Offers</a>
    
    <form method="POST" class="log-form">
        <input type="checkbox">I acknowledge that I am signing something away</input>
    </form>
    
    <a href="{% url 'finish' %}" class="button">Sign</a>
{% endblock %}