{% extends "watermain/layout.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'watermain/site.css' %}"/>
{% block title %}
Contract Signing
{% endblock %}
{% block content %}
    <div id="signing_elements" margin="auto">
        <iframe src="{% static 'watermain/example.pdf' %}" width="1000" height="800"></iframe>
        <a href="{% url 'offers' %}" class="button">Offers</a>

        <div>
            <label for="hideButtonCheckbox">
                <input type="checkbox" id="hideButtonCheckbox" type="checkbox" > I acknowledge that I am signing a binding contract </label>
            </label>
        
            <br><br>
        
            <form action="{% url 'finish' %}">
                <button id="signing_button">Sign</button>
            </form>
            
        
            <script>
                // Get references to the checkbox and button elements
                const checkbox = document.getElementById('hideButtonCheckbox');
                const button = document.getElementById('signing_button');
        
                // Add an event listener to the checkbox to handle changes
                checkbox.addEventListener('change', function() {
                    // Toggle the button's visibility based on the checkbox state
                    if (checkbox.checked == true) {
                        button.style.display = 'inline';  // Hide the button
                    } else {
                        button.style.display = 'none';  // Show the button again
                    }
                });
            </script>
        
        </div>
    </div>
{% endblock %}
