{% extends "watermain/layout.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'watermain/site.css' %}"/>
{% block title %}
Counter
{% endblock %}
{% block content %}
    <div id="signing_elements" margin="auto">
        <p>Enter counter-offer here:</p>
        <input type="text" class="square-input">
        <div>
            <form action="{% url 'offers' %}">
                <button id="download_button">Send Counter</button>
            </form>
        </div>
    </div>
{% endblock %}
