<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Your Listing</title>
<style id="applicationStylesheet" type="text/css">
	
</style>

</head>
<body>
	<div id="Create_Your_Listing">
	<div id="aac" class="header">
		<div id="aad">
			<span>Home</span>
		</div>
		<div id="aae">
			<span>About</span>
		</div>
		<div id="aaf">
			<span>Contact</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="aag" class="Component_1">
			<svg class="aah" viewBox="0 0 22 22">
				<path id="aah" d="M 0 22 L 0 19.25034713745117 C 0 16.2247257232666 4.949938297271729 13.74969863891602 11 13.74969863891602 C 17.0500602722168 13.74969863891602 22 16.2247257232666 22 19.25034713745117 L 22 22 L 0 22 Z M 5.499382019042969 5.50062084197998 C 5.499382019042969 2.462620735168457 7.961976051330566 0 11 0 C 14.03678798675537 0 16.49938201904297 2.462620735168457 16.49938201904297 5.50062084197998 C 16.49938201904297 8.537394523620605 14.03678798675537 11.00004482269287 11 11.00004482269287 C 7.961976051330566 11.00004482269287 5.499382019042969 8.537394523620605 5.499382019042969 5.50062084197998 Z">
				</path>
			</svg>
		</div>
		<div onclick="application.goToTargetView(event)" id="aai" class="roughhh_water_logo_01">
			<img id="aaj" src="aaj.png" srcset="aaj.png 1x, aaj@2x.png 2x">
				
		</div>
	</div>
	<div id="aak">
		<span>Create a Listing</span>
	</div>
	<div id="aal">
		<span>Import from Utah Water Division</span>
	</div>
	<div id="aam">
		<span>Name Your Water Lease</span>
	</div>
	<div id="aan">
		<span>Where Is Your Water?</span>
	</div>
	<div id="aao">
		<span>Water Right ID #</span>
	</div>
	<div id="aap">
		<span>How Many Acre Feet Do You Want to Lease?</span>
	</div>
	<div id="aaq">
		<span>How Long Do You Want to Lease For?</span>
	</div>
	<div id="aar">
		<span>What is Your Preferred Price Range per Acre Foot?</span>
	</div>
	<div id="aas">
		<span>Any Notes for Potential Lessees About Your Water?</span>
	</div>
	<div id="aat">
		<span>Already have a lessee in mind?</span>
	</div>
	<div id="aau">
		<span>Upload Photos of Location or Point of Diversion</span>
	</div>
	<div id="aav" class="Component_9___1">
		<svg class="aaw">
			<rect id="aaw" rx="3" ry="3" x="0" y="0" width="667" height="47">
			</rect>
		</svg>
		<div id="aax">
			<span>Water in Springville</span>
		</div>
	</div>
	<div id="aay" class="Component_9___2">
		<svg class="aaz">
			<rect id="aaz" rx="3" ry="3" x="0" y="0" width="667" height="47">
			</rect>
		</svg>
		<div id="aba">
			<span>###-###-##</span>
		</div>
	</div>
	<div id="abb" class="Component_9___11">
		<svg class="abc">
			<rect id="abc" rx="3" ry="3" x="0" y="0" width="667" height="47">
			</rect>
		</svg>
		<div id="abd">
			<span>###-###-##</span>
		</div>
	</div>
	<div id="abe" class="Component_9___12">
		<svg class="abf">
			<rect id="abf" rx="3" ry="3" x="0" y="0" width="667" height="47">
			</rect>
		</svg>
		<div id="abg">
			<span>Months, Season, or Custom</span>
		</div>
	</div>
	<div id="abh" class="Component_9___13">
		<svg class="abi">
			<rect id="abi" rx="3" ry="3" x="0" y="0" width="667" height="47">
			</rect>
		</svg>
		<div id="abj">
			<span>$$$</span>
		</div>
	</div>
	<div id="abk" class="Component_9___14">
		<svg class="abl">
			<rect id="abl" rx="3" ry="3" x="0" y="0" width="667" height="89">
			</rect>
		</svg>
		<div id="abm">
			<span>IE your preferred use</span>
		</div>
	</div>
	<div id="abn" class="Component_9___3">
		<svg class="abo">
			<rect id="abo" rx="3" ry="3" x="0" y="0" width="418" height="47">
			</rect>
		</svg>
		<div id="abp">
			<span>Address</span>
		</div>
	</div>
	<div id="abq" class="Component_9___4">
		<svg class="abr">
			<rect id="abr" rx="3" ry="3" x="0" y="0" width="253" height="47">
			</rect>
		</svg>
		<div id="abs">
			<span>Or GPS Coordinates</span>
		</div>
	</div>
	<div id="abt" class="Component_9___5">
		<svg class="abu">
			<rect id="abu" rx="3" ry="3" x="0" y="0" width="203" height="47">
			</rect>
		</svg>
		<div id="abv">
			<span>City</span>
		</div>
	</div>
	<div id="abw" class="Component_9___6">
		<svg class="abx">
			<rect id="abx" rx="3" ry="3" x="0" y="0" width="181" height="47">
			</rect>
		</svg>
		<div id="aby">
			<span>State</span>
		</div>
		<svg class="abz" viewBox="6.188 11.246 11.808 6.751">
			<path id="abz" d="M 12.09366893768311 15.9626293182373 L 16.55845069885254 11.49433326721191 C 16.888916015625 11.16386795043945 17.42328262329102 11.16386795043945 17.75023078918457 11.49433326721191 C 18.07718086242676 11.82479667663574 18.07717895507812 12.35916519165039 17.75023078918457 12.68962860107422 L 12.69131660461426 17.7520580291748 C 12.37139892578125 18.07197570800781 11.85812473297119 18.07900619506836 11.52766132354736 17.77666854858398 L 6.433590412139893 12.69314384460449 C 6.26835823059082 12.52791213989258 6.1875 12.30994606018066 6.1875 12.09549617767334 C 6.1875 11.88104629516602 6.26835823059082 11.6630802154541 6.433590412139893 11.49784851074219 C 6.764054298400879 11.16738414764404 7.298422336578369 11.16738414764404 7.625370979309082 11.49784851074219 L 12.09366893768311 15.9626293182373 Z">
			</path>
		</svg>
	</div>
	<div id="aca" class="Component_9___9">
		<svg class="acb">
			<rect id="acb" rx="3" ry="3" x="0" y="0" width="240" height="47">
			</rect>
		</svg>
		<div id="acc">
			<span>ZIP Code</span>
		</div>
	</div>
	<svg class="acd">
		<rect id="acd" rx="0" ry="0" x="0" y="0" width="663" height="209">
		</rect>
	</svg>
	<div id="ace" class="Normal_Button">
		<svg class="acf">
			<rect id="acf" rx="4" ry="4" x="0" y="0" width="223" height="48">
			</rect>
		</svg>
		<div id="acg">
			<span>Copy Listing Link</span>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="ach" class="Normal_Button">
		<svg class="aci">
			<rect id="aci" rx="4" ry="4" x="0" y="0" width="223" height="48">
			</rect>
		</svg>
		<div id="acj">
			<span>Post Listing</span>
		</div>
	</div>
	<div id="ack" class="Footer_6">
		<svg class="acl">
			<rect id="acl" rx="0" ry="0" x="0" y="0" width="1921" height="201">
			</rect>
		</svg>
	</div>
	<div id="acm">
		<span>Simplify Your Water Lease: Easier Than a Handshake</span>
	</div>
	<div id="acn" class="whiteeee_logo_1_02">
		<img id="aco" src="aco.png" srcset="aco.png 1x, aco@2x.png 2x">
			
	</div>
	<img id="acp" src="acp.png" srcset="acp.png 1x, acp@2x.png 2x">
		
</div>
</body>
</html>